@import "../../styles/colors.scss";

.weather-wrapper {
  display: flex;
  color: $secondary_color;
  justify-content: center;
  align-items: center;
  padding: 40px 60px 40px 60px;
  flex-direction: row;
}

.weather-info-wrapper {
  text-align: left;
  padding-left: 40px;
}

@media only screen and (max-width: 600px) {
  .weather-wrapper {
    flex-direction: column;
    padding: 20px 40px 40px 40px;
  }

  .weather-info-wrapper {
    text-align: center;
    padding-left: 0;
  }
}
